nav{
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar .navbar-brand {
    color: #cb0d20;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}
.navbar-nav .navbar-item .nav-link {
    color: #cb0d20;
}
.navbar-toggler-icon {
    background-color: #cb0d20;
    border-radius: 7px;
}