<nav id="navbar" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid d-flex justify-content-between">
    <div class="contain">
      <a class="navbar-brand" routerLink="">MOVIEFLIX</a>
    </div>
    <div class="contain">
      <a class="navbar-brand" type="submit" routerLink="search">Search<span
          class="material-symbols-outlined ">search</span></a>
    </div>
  </div>
<!-- <lord-icon
    src="https://cdn.lordicon.com/zniqnylq.json"
    trigger="hover"
    colors="primary:#5c0e0a,secondary:#e83a30"
    style="width:100px;height:100px">
</lord-icon>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script> -->
</nav>
<router-outlet></router-outlet>
