<app-banner></app-banner>
<!-- popular movie start -->
<div class="contain mt-3 p-4">
    <div class="row">
        <h5 class="text-white">Mais Populares no MovieFlix</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let p of popularResult">    
                <img
                src="https://image.tmdb.org/t/p/original/{{ p.poster_path }}"
                class="rowimg largposter" 
                alt="..."
                [routerLink]="['/movie', p.id]"
                >

            </ng-container>
        </div>
    </div>
</div>
<!-- popular movie end -->

<!-- popular movie start -->
<div class="contain mt-3 p-4">
    <div class="row">
        <h5 class="text-white">Em breve</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let e of emBreve">    
                <img
                src="https://image.tmdb.org/t/p/original/{{ e.poster_path }}"
                class="rowimg largposter" 
                alt="..."
                [routerLink]="['/movie', e.id]"
                >

            </ng-container>
        </div>
    </div>
</div>
<!-- popular movie end -->

<!-- popular movie start -->
<div class="contain mt-3 p-4">
    <div class="row">
        <h5 class="text-white">Filmes em Cartaz</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let n of nowPlayingResult">    
                <img
                src="https://image.tmdb.org/t/p/original/{{ n.poster_path }}"
                class="rowimg largposter" 
                alt="..."
                [routerLink]="['/movie', n.id]"
                >
            </ng-container>
        </div>
    </div>
</div>
<!-- popular movie end -->

<!-- topRate movie start -->
<div class="contain mt-3 p-4">
    <div class="row">
        <h5 class="text-white">Bem Avaliados</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let t of topRateResult">    
                <img
                src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
                class="rowimg largposter" 
                alt="..."
                [routerLink]="['/movie', t.id]"
                >
            </ng-container>
        </div>
    </div>
</div>
<!-- topRate movie end -->